<% provide :title, "Home" %>
<div class="center jumbotron">
  <h1>Welcome</h1>
  <img style="height: 350px;
              width: 600px;
              border-radius:15%;
              " src="https://s16815.pcdn.co/wp-content/uploads/2017/06/iStock-609683672-studying.jpg"><br>
              <br>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

