<%= provide :title, "Statistics" %>
<div style="#">
  <%= link_to image_tag("chart_2.png"),"#" %>
<h1>Statistics Graduated Students</h1>
</div>
<div style="text-align: center;">
  <%= link_to image_tag("chart_1.png"),"#" %>
<h1>Graduated Students Percent </h1>
</div>
