<%= provide :title, "Servey" %>

<h1 style="text-align: center;">This imformation is not mandatory, You may choose to investigate or not</h1>

<div style="text-align: center;">
<button type="button" class="btn btn-succes" onclick="location.href='https://docs.google.com/forms/d/e/1FAIpQLSdWS6LpVfm9v-ErWTKfqG6iobmRByqxkzTr95FO2EB22OeEpA/viewform?fbclid=IwAR0gVzz2HG0muMQSWzr-8Il_QBKfWTeDcvHiTNVN2gWLjVEBSJ_-Mn0qvt'">Yes</button>
<button type="button" class="btn"><%= link_to "No", root_path %></button>
</div>
